@import './reset.css';

* {
    box-sizing: border-box;
}
#wrapper {
    width: 50%;
    margin: 0 auto;
    outline: 2px solid salmon;
}

li {
    list-style: none;
}
.nav {
    margin: 20px 0;
    padding: 10px;
    outline: 2px solid darkcyan;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
/* header */
.header-title {
    padding: 20px;
    text-align: center;
}
.header-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* contents */
.dust-emoji {
    font-size: 8rem;
}
.dust-graph {
    outline: 2px solid darkblue;
}
.dust-graph span {
    display: inline-block;
}
.dust-graph {
    display: flex;
}
.dust-contents-bar{
    width: 100%;
    height: 20px;
}
.dust-graph:nth-child(even) {
    background-color: darkgreen;
}
.dust-graph:nth-child(odd) {
    background-color: darkorange;
}